.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fef5f0;
}

.main-content {
  flex: 1;
  padding-bottom: 70px;
  overflow-y: auto;
}

.main-content.auth-content {
  padding-bottom: 0;
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
