

.reel-card {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  background: var(--black);
}

.reel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%); */
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--white);
  opacity: 1;
  visibility: visible;
  margin-bottom: 5%;
}

.reel-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 500px;
  margin-right: 1300px;
  color: white;
}




.reel-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--white);
  object-fit: cover;
}

.username {
  font-weight: 600;
  font-size: 0.95rem;
}

.reel-title {
  font-size: 0.95rem;
  margin: 0;
  line-height: 1.4;
  max-width: 70%;
}

.reel-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: -150px;
  color: white;
  
}

.action-btn-reels {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
  font-size: 1.5rem;
}

.action-btn-reels span {
  font-size: 0.8rem;
  font-weight: 600;
}

.action-btn-reels:hover {
  transform: scale(1.1);
}

.action-btn-reels.liked {
  color: #EF4444;
}

@media (max-width: 768px) {
  .reel-overlay {
    padding: 20px 15px;
  }
  .reel-info{
    margin-top: 740px;
    margin-right: 210px;
  }
  .reel-actions{
    margin-top: -150px;
  }
  .reel-title {
    font-size: 0.9rem;
    max-width: 60%;
  }

  .action-btn-reels {
    font-size: 1.3rem;
    gap: 4px;
  }

  .action-btn-reels span {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px)
{
   .reel-overlay {
    padding: 20px 15px;
  }
  /* .reel-info{
    margin-top: 740px;
    margin-right: 210px;
  } */

   .reel-info {
    margin-top: 190%;   /* 740px ≈ 92% of 800px height */
    margin-right: 55%; /* 210px ≈ 44% of 480px width */
  }
  .reel-actions{
    margin-top: -190px;
    margin-left: -30px;
  }
  .reel-title {
    font-size: 0.9rem;
    max-width: 60%;
  }

  .action-btn-reels {
    font-size: 1.3rem;
    gap: 4px;
  }

  .action-btn-reels span {
    font-size: 0.75rem;
  }
}