.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fef5f0;
}

.main-content {
  flex: 1;
  padding-bottom: 70px;
  overflow-y: auto;
}
